.imagen-click{
	background:url('boton.jpg');
	width:74px;
	height:59px;
	display:inline-block;
	text-decoration: none;
}

.text-btn{
	display: none;
	color: red;
	position: absolute;
  	margin-left: 16px;
  	margin-top: -16px;
  	font-size: 70px;
  	font-family: Arial;
}
.ramo{
	background-color: #81BEF7;
}

.elementos{
	cursor: pointer;
}